@font-face {
  font-family: 'Museo Sans 100';
  src: url('../fonts/museosans/museosanscyrl-100.eot');
  src: url('../fonts/museosans/museosanscyrl-100.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosans/museosanscyrl-100.woff2') format('woff2'), url('../fonts/museosans/museosanscyrl-100.woff') format('woff'),
    url('../fonts/museosans/museosanscyrl-100.ttf') format('truetype'),
    url('../fonts/museosans/museosanscyrl-100.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Museo Sans 300';
  src: url('../fonts/museosans/museosanscyrl-300.eot');
  src: url('../fonts/museosans/museosanscyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosans/museosanscyrl-300.woff2') format('woff2'), url('../fonts/museosans/museosanscyrl-300.woff') format('woff'),
    url('../fonts/museosans/museosanscyrl-300.ttf') format('truetype'),
    url('../fonts/museosans/museosanscyrl-300.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Museo Sans 300italic';
  src: url('../fonts/museosans/museosanscyrl-300italic.eot');
  src: url('../fonts/museosans/museosanscyrl-300italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosans/museosanscyrl-300italic.woff2') format('woff2'),
    url('../fonts/museosans/museosanscyrl-300italic.woff') format('woff'),
    url('../fonts/museosans/museosanscyrl-300italic.ttf') format('truetype'),
    url('../fonts/museosans/museosanscyrl-300italic.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Museo Sans 900';
  src: url('../fonts/museosans/museosanscyrl-900.eot');
  src: url('../fonts/museosans/museosanscyrl-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosans/museosanscyrl-900.woff2') format('woff2'), url('../fonts/museosans/museosanscyrl-900.woff') format('woff'),
    url('../fonts/museosans/museosanscyrl-900.ttf') format('truetype'),
    url('../fonts/museosans/museosanscyrl-900.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Natasha';
  src: url('../fonts/natasha/natasha.eot');
  src: url('../fonts/natasha/natasha.eot?#iefix') format('embedded-opentype'), url('../fonts/natasha/natasha.woff2') format('woff2'),
    url('../fonts/natasha/natasha.woff') format('woff'), url('../fonts/natasha/natasha.ttf') format('truetype'),
    url('../fonts/natasha/natasha.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'stroke-gap-icons';
  src: url('../fonts/stroke-gap-icons/stroke-gap-icons.eot');
  src: url('../fonts/stroke-gap-icons/stroke-gap-icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/stroke-gap-icons/stroke-gap-icons.woff2') format('woff2'),
    url('../fonts/stroke-gap-icons/stroke-gap-icons.woff') format('woff'),
    url('../fonts/stroke-gap-icons/stroke-gap-icons.ttf') format('truetype'),
    url('../fonts/stroke-gap-icons/stroke-gap-icons.svg#svgFontName') format('svg');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: 'Natasha';
  font-size: 37px;
  color: #22241b;
  line-height: 1.48em;
  letter-spacing: 0.12em;
}

h3 {
  font-family: 'Natasha';
  font-size: 22px;
  color: #7e7f7b;
  line-height: 2.5em;
  letter-spacing: 0.12em;
}

img {
  border-style: none;
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  border: none;
  display: inline-block;
}

button:hover,
button:focus,
input:hover,
input:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  bottom: 0px;
  padding: 0px;
  word-spacing: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

body {
  font-family: 'Museo Sans 300', sans-serif;
  font-size: 15px;
  letter-spacing: 0.12em;
  color: #22241b;
}

.header {
  background-image: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 53px;
  padding-bottom: 82px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 286px;
}

.logo {
  font-family: 'Museo Sans 100';
  font-size: 17px;
  text-transform: uppercase;
}

.logo span {
  font-family: 'Museo Sans 900';
  font-size: 17px;
  text-transform: uppercase;
}

.menu {
  display: flex;
}

.menu__item {
  font-family: 'Museo Sans 900';
  text-transform: uppercase;
}

.menu__item:not(:last-of-type) {
  margin-right: 47px;
}

.menu__link {
  transition: all 0.2s linear;
}

.menu__link:hover,
.menu__link:focus {
  text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.6);
}

.email {
  font-family: 'Museo Sans 300';
  font-size: 13px;
  padding-bottom: 4px;
  border-bottom: 1px solid #6a6d6a;
  letter-spacing: 0.12em;
  transition: all 0.2s linear;
}

.email:hover,
.email:focus {
  text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.8);
}

.offer {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 257px;
}

.offer__title {
  font-family: 'Natasha';
  font-size: 49px;
  line-height: 1.12em;
  letter-spacing: 0.12em;
  margin-bottom: 18px;
}

.offer__subtitle {
  font-family: 'Museo Sans 100';
  font-size: 29px;
  letter-spacing: 0.12em;
}

.arrow {
  font-size: 18px;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0;
  transition: all 0.2s linear;
}

.arrow:hover,
.arrow:focus {
  background-color: rgba(106, 109, 106, 0.4);
  transform: translateY(2px);
}

.about {
  padding-top: 76px;
  padding-bottom: 80px;
}

.about__title {
  margin-bottom: 46px;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
}

.about__text {
  width: 440px;
}

.about__wrap-title {
  margin-bottom: 21px;
}

.about__wrap-text {
  font-family: 'Museo Sans 300';
  font-size: 15px;
  line-height: 1.8em;
  letter-spacing: 0.02em;
}

.about__wrap-text:not(:last-of-type) {
  margin-bottom: 27px;
}

.about__info {
  width: 470px;
}

.merit__title {
  margin-bottom: 21px;
}

.merit__list {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  text-align: center;
  margin-top: 43px;
  margin-bottom: 46px;
}

.merit__item {
  width: 115px;
  font-family: 'Museo Sans 100';
}

.merit__icon {
  position: relative;
  font-size: 20px;
  line-height: 2.75em;
  color: #204d15;
  display: block;
  margin-bottom: 47px;
  padding-top: 8px;
}

.merit__icon:before {
  position: absolute;
  display: block;
  content: '';
  width: 72px;
  height: 72px;
  border: 1px solid rgb(32, 77, 21);
  margin-bottom: 60px;
  transform: rotate(45deg);
  top: 0;
  left: 20px;
  transition: all 0.2s linear;
}

.merit__icon::after {
  position: absolute;
  display: block;
  content: '';
  width: 58px;
  height: 58px;
  border: 1px solid rgb(198, 214, 187);
  margin-bottom: 60px;
  transform: rotate(45deg);
  top: 7px;
  left: 27px;
}

.merit__item:hover .merit__icon::before,
.merit__item:focus .merit__icon::before {
  border: 7px solid rgba(32, 77, 21, 0.7);
}

.merit__text {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #22241b;
}

.contact__title {
  margin-bottom: 8px;
}

.contact__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__link-box {
  width: 180px;
  font-size: 14px;
  color: #204d15;
}

.contact__link {
  line-height: 2.6em;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(32, 77, 21, 0.29);
  margin-bottom: 15px;
  color: #204d15;
}

.contact__icon-box {
  width: 255px;
  display: flex;
  align-items: center;
}

.contact__icon {
  font-family: 'stroke-gap-icons';
  font-size: 25px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: rgba(32, 77, 21, 0.078);
  line-height: 64px;
  text-align: center;
  margin-right: 18px;
  color: #204d15;
  transition: all 0.1s linear;
}

.contact__icon-box:hover .contact__icon,
.contact__icon-box:focus .contact__icon {
  background-color: rgba(32, 77, 21, 0.2);
}

.contact__text {
  font-family: 'Museo Sans 300italic';
  font-size: 14px;
  color: #797a77;
  letter-spacing: 0.02em;
}

.skills {
  padding-bottom: 70px;
}

.skills__title {
  margin-bottom: 50px;
}

.skills__list {
  display: flex;
  justify-content: space-between;
}

.skills__item {
  display: flex;
  align-items: center;
  width: calc(100% / 4);
  position: relative;
}

.skills__icon {
  font-family: 'Museo Sans 100';
  font-size: 13px;
  color: #204d15;
  border: 1px solid rgb(32, 77, 21);
  border-radius: 50%;
  width: 61px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  transition: all 0.2s linear;
  margin-right: 25px;
  display: flex;
}

.skills__icon::after {
  content: '';
  display: block;
  position: absolute;
  width: 49px;
  height: 49px;
  border: 1px solid #b1b6b0;
  border-radius: 50%;
  top: 6px;
  left: 6px;
}

.skills__item:hover .skills__icon,
.skills__item:focus .skills__icon {
  border: 6px solid rgba(32, 77, 21, 0.7);
}

.skills__name {
  font-family: 'Museo Sans 900';
  text-transform: uppercase;
}

.work {
  padding-bottom: 15px;
}

.work__title {
  margin-bottom: 48px;
}

.work__list {
  display: flex;
  justify-content: space-between;
}

.work__item {
  width: 300px;
  position: relative;
  transition: all 0.2s linear;
}

.work__item:not(:last-of-type) {
  margin-right: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: all 0.2s linear;
  visibility: hidden;
}

.overlay__title {
  font-family: 'Museo Sans 900';
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-bottom: 7px;
}

.overlay__subtitle {
  font-family: 'Museo Sans 300';
  font-size: 13px;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
}

.work__item:hover,
.work__item:focus {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0 rgba(43, 86, 33, 0.5);
}

.work__item:hover .overlay,
.work__item:focus .overlay {
  opacity: 1;
  visibility: visible;
}

.footer {
  padding-top: 108px;
  padding-bottom: 110px;
}

.footer__copy {
  font-size: 11px;
  text-transform: uppercase;
  color: #91928f;
  letter-spacing: 0.14em;
}

/* ------ Media Queries ------ */

/* 992-1200px */
@media screen and (max-width: 1200px) {
}

h2,
h3 {
  text-align: center;
}

/* 768-992px */
@media screen and (max-width: 992px) {
  .container {
    width: 700px;
  }

  .about__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about__text {
    width: 100%;
    margin-bottom: 40px;
  }

  .about__info {
    width: 100%;
  }

  .merit__list {
    max-width: 450px;
    margin: 40px auto 50px;
  }

  .contact__wrap {
    max-width: 500px;
    margin: 0 auto;
  }

  .contact__title {
    margin-bottom: 20px;
  }

  .skills__list {
    max-width: 450px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .skills__item {
    width: 220px;
    margin-bottom: 40px;
  }

  .skills__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

/* 576-768px */
@media screen and (max-width: 768px) {
  .container {
    width: 520px;
  }

  .navigation {
    flex-direction: column;
    margin-bottom: 180px;
  }

  .logo {
    margin-bottom: 25px;
  }

  .menu {
    margin-bottom: 15px;
  }

  .offer {
    margin-bottom: 200px;
  }

  .work__list {
    flex-direction: column;
    align-items: center;
  }

  .work__item {
    margin-bottom: 40px;
  }

  .work__item:not(:last-of-type) {
    margin-right: 0;
  }

  .footer {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

/* 320-576px */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .navigation {
    margin-bottom: 120px;
  }

  .menu {
    flex-direction: column;
    text-align: center;
  }

  .menu__item:not(:last-of-type) {
    margin-right: 0;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .offer {
    margin-bottom: 160px;
  }

  .offer__title {
    font-size: 43px;
  }

  h2 {
    font-size: 33px;
  }

  .arrow {
    letter-spacing: 1px;
  }

  .about__wrap {
    text-align: center;
  }

  .merit__list {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .merit__item {
    margin-bottom: 45px;
  }

  .merit__item:last-child {
    margin-bottom: 0;
  }

  .merit__icon {
    margin-bottom: 30px;
  }

  .contact__wrap {
    flex-direction: column;
  }

  .contact__icon-box {
    flex-direction: column;
  }

  .contact__link-box {
    margin-bottom: 40px;
  }

  .contact__icon {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .skills__list {
    flex-direction: column;
    align-items: center;
  }

  .skills__item:nth-last-child(-n + 2) {
    margin-bottom: 40px;
  }

  .skills__item:last-child {
    margin-bottom: 0;
  }

  .skills__item:not(:last-of-type) {
    margin-right: 0;
  }

  .skills__item {
    flex-direction: column;
  }

  .skills__icon {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .skills__icon::after {
    left: 85.5px;
  }

  .work__item {
    width: 260px;
  }

  .footer {
    padding: 50px 0;
    text-align: center;
  }
}
